*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: $text-color;
  @include scrollbars();
}

#app {
  height: 100%;
}

img {
  max-width: 100%;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
}

button {
  cursor: pointer;
}

.reset-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}